---
import Section, { Comparison } from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

const kv: Comparison[] = [
	{
		name: "Databases",
		good: "right",
		left: 1,
		right: 0,
		unit: "$",
		per: 1,
		perUnit: "database",
	},
	{
		name: "Free Requests",
		good: "right",
		left: 30000,
		right: 300000,
		rightInfo: "10,000 limit per day on free plan, 30 days per month",
	},
	{
		name: "Paid Requests",
		good: "right",
		left: 0.35,
		right: 0.2,
		unit: "$",
		per: 100000,
		leftInfo: "+$0.35 per additional replica",
		rightInfo: "$0.40 for full global replication",
	},
	{
		name: "Free Storage",
		good: "right",
		left: 0.25,
		right: 1,
		unit: "GB",
	},
	{
		name: "Paid Storage",
		good: "right",
		left: 0.3,
		right: 0.25,
		unit: "$",
		per: 1,
		perUnit: "GB",
	},
	// {
	// 	name: 'Bandwidth',
	// 	left:
	// }
];

const postgres: Comparison[] = [
	{
		name: "Free Compute Time",
		good: "right",
		left: 60,
		right: 730,
		unit: "hours",
		rightInfo: "Unlimited compute time, total 730 hours per month",
		per: 1,
		perUnit: "month",
	},
	{
		name: "Paid Compute Time",
		good: "equal",
		left: 0.102,
		right: 0.102,
		unit: "$",
		per: 1,
		perUnit: "hour",
	},
	{
		name: "Free Storage",
		good: "right",
		left: 0.25,
		right: 3,
		unit: "GB",
		rightInfo: "3 GB per database branch",
	},
	{
		name: "Paid Storage",
		good: "right",
		left: 0.3,
		right: 0.12,
		unit: "$",
		per: 1,
		perUnit: "GB/month",
	},
	{
		name: "Written data",
		good: "equal",
		left: 0.1,
		right: 0.096,
		unit: "$",
		per: 1,
		perUnit: "GB",
	},
	{
		name: "Data transfer",
		good: "right",
		left: 0.2,
		right: 0.096,
		unit: "$",
		per: 1,
		perUnit: "GB",
	},
];

const blob: Comparison[] = [
	{
		name: "Reads per month",
		good: "right",
		left: 2,
		right: 0.36,
		unit: "$",
		per: 1000000,
	},
	{
		name: "Writes per month",
		good: "right",
		left: 5.5,
		right: 4.5,
		unit: "$",
		per: 1000000,
	},
	{
		name: "Storage",
		good: "right",
		left: 0.03,
		right: 0.015,
		unit: "$",
		per: 1,
		perUnit: "GB",
	},
	{
		name: "Bandwidth",
		good: "right",
		left: 0.15,
		right: 0,
		unit: "$",
		per: 1,
		perUnit: "GB",
	},
];

const edgeConfig: Comparison[] = [
	{
		name: "Free Reads (Hobby)",
		left: 50000,
		right: 100000,
		good: "right",
		per: 1,
		perUnit: "month",
	},
	{
		name: "Free Reads (Pro)",
		left: 1000000,
		right: 10000000,
		good: "right",
		per: 1,
		perUnit: "month",
	},
	{
		name: "Paid Reads",
		left: 3,
		right: 0.5,
		good: "right",
		unit: "$",
		per: 1000000,
	},
	{
		name: "Free Writes (Hobby)",
		left: 250,
		right: 30000,
		good: "right",
		per: 1,
		perUnit: "month",
	},
	{
		name: "Free Writes (Pro)",
		left: 1000,
		right: 1000000,
		good: "right",
		per: 1,
		perUnit: "month",
	},
	{
		name: "Paid Writes",
		left: 10000,
		right: 5,
		good: "right",
		unit: "$",
		per: 1000000,
	},
	{
		name: "Max Storage",
		left: 0.000064,
		right: 1,
		good: "right",
		unit: "GB",
		leftInfo: "64 KB per store on pro plan, max of 3 stores",
	},
];
---

<Layout title="Vercel Markup">
	<h1 class="text-5xl text-center my-2">Vercel Markup</h1>
	<p class="max-w-2xl mx-auto text-slate-200 text-lg">
		Many of Vercel&apos;s products are built on top of another service. They
		usually add a significant markup that may not outweigh the convenience. This
		documents the markup percentage for each service based on their reported
		pricing, although some numbers are estimates.
	</p>

	<Section
		left="Vercel KV"
		leftHref="https://vercel.com/docs/storage/vercel-kv/usage-and-pricing"
		rightHref="https://docs.upstash.com/redis/overall/pricing"
		right="Upstash"
		comparisons={kv}
	>
		<svg slot="left-icon" fill="none" height="36" viewBox="0 0 36 36" width="36"
			><path
				d="M32.5 19V18V8.5C32.5 5.73858 30.2614 3.5 27.5 3.5H8.5C5.73858 3.5 3.5 5.73858 3.5 8.5V27.5C3.5 30.2614 5.73858 32.5 8.5 32.5H20.5"
				fill="rgba(169,20,20,.5)"
				stroke="#e85b5b"
				stroke-linecap="round"
				stroke-width="1.25"></path><rect
				fill="#e85b5b"
				fill-opacity="0.15"
				height="7.55235"
				rx="0.5"
				stroke="#e85b5b"
				stroke-width="1.15"
				transform="rotate(13.8524 20.67 7.67203)"
				width="7.55235"
				x="20.67"
				y="7.67203"></rect><path
				d="M9.98777 11.9827C10.0546 11.6036 10.5067 11.439 10.8016 11.6865L17.4357 17.2532C17.7306 17.5006 17.647 17.9744 17.2853 18.106L9.14735 21.068C8.78566 21.1997 8.4171 20.8904 8.48394 20.5113L9.98777 11.9827Z"
				fill="#e85b5b"
				fill-opacity="0.1"
				stroke="#e85b5b"
				stroke-width="1.15"></path><path
				clip-rule="evenodd"
				d="M21.6581 20.1504C21.0631 20.502 20.7235 20.908 20.7235 21.3405V28.9945C20.6495 28.9982 20.5749 29 20.5 29C18.0147 29 16 26.9853 16 24.5C16 22.0147 18.0147 20 20.5 20C20.9004 20 21.2886 20.0523 21.6581 20.1504Z"
				fill="#e85b5b"
				fill-opacity="0.1"
				fill-rule="evenodd"
				stroke="#e85b5b"
				stroke-width="1.15"></path><path
				d="M28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255V26.985V32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445V26.985V21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9Z"
				fill="#0f172a"></path><path
				d="M35.303 21.3255C35.303 22.6651 32.0452 23.751 28.0265 23.751C24.0078 23.751 20.75 22.6651 20.75 21.3255M35.303 21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255M35.303 21.3255V32.6445M35.303 21.3255V26.985M20.75 21.3255V32.6445M20.75 21.3255V26.985M35.303 26.985C35.303 28.3271 32.069 29.4105 28.0265 29.4105C23.984 29.4105 20.75 28.3271 20.75 26.985M35.303 26.985V32.6445M20.75 26.985V32.6445M20.75 32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445"
				stroke="#e85b5b"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="1.25"></path></svg
		>
		<svg
			viewBox="0 0 354 472"
			width="27"
			height="36"
			fill="none"
			slot="right-icon"
		>
			<path
				d="M0.421875 412.975C78.5269 491.079 205.16 491.079 283.265 412.975C361.369 334.87 361.369 208.237 283.265 130.132L247.909 165.487C306.488 224.066 306.488 319.041 247.909 377.619C189.331 436.198 94.3559 436.198 35.7769 377.619L0.421875 412.975Z"
				fill="#00E9A3"></path>
			<path
				d="M71.1328 342.264C110.185 381.316 173.501 381.316 212.554 342.264C251.606 303.212 251.606 239.895 212.554 200.843L177.199 236.198C196.725 255.724 196.725 287.382 177.199 306.909C157.672 326.435 126.014 326.435 106.488 306.909L71.1328 342.264Z"
				fill="#00E9A3"></path>
			<path
				d="M353.974 59.421C275.869 -18.6835 149.236 -18.6835 71.1315 59.421C-6.97352 137.526 -6.97352 264.159 71.1315 342.264L106.486 306.909C47.9085 248.33 47.9085 153.355 106.486 94.777C165.065 36.198 260.04 36.198 318.618 94.777L353.974 59.421Z"
				fill="#00E9A3"></path>
			<path
				d="M283.264 130.132C244.212 91.08 180.894 91.08 141.842 130.132C102.789 169.185 102.789 232.501 141.842 271.553L177.197 236.198C157.671 216.672 157.671 185.014 177.197 165.487C196.723 145.961 228.381 145.961 247.908 165.487L283.264 130.132Z"
				fill="#00E9A3"></path>
		</svg>
	</Section>
	<Section
		left="Vercel Postgres"
		right="Neon"
		leftHref="https://vercel.com/docs/storage/vercel-postgres/usage-and-pricing"
		rightHref="https://neon.tech/docs/introduction/billing"
		comparisons={postgres}
	>
		<svg
			slot="left-icon"
			fill="none"
			height="36"
			viewBox="0 0 36 36"
			width="36"
			xmlns="http://www.w3.org/2000/svg"
			><path
				d="M32.5 19V18V8.5C32.5 5.73858 30.2614 3.5 27.5 3.5H8.5C5.73858 3.5 3.5 5.73858 3.5 8.5V27.5C3.5 30.2614 5.73858 32.5 8.5 32.5H20.5"
				fill="rgba(17,82,163,.5)"
				stroke="#5289cd"
				stroke-linecap="round"
				stroke-width="1.25"></path><path
				d="M28 13v13a1 1 0 0 1-1 1h-9c-1.105 0-2-.395-2-1.5v-3.7a9.927 9.927 0 0 0 2-.632l.013-.006a10.038 10.038 0 0 0 5.079-4.992A9.963 9.963 0 0 0 24 12v-2h1a3 3 0 0 1 3 3Z"
				fill="#5289cd"
				fill-opacity="0.15"></path><path
				d="M25.25 9.99995L25.25 9.37495L25.25 9.37495L25.25 9.99995ZM18 21.1679L18.2502 21.7406L18.2502 21.7406L18 21.1679ZM11.763 20.933C11.4499 20.7878 11.0783 20.9239 10.933 21.237C10.7878 21.5501 10.9239 21.9217 11.237 22.067L11.763 20.933ZM11.5441 25.1646L11.1577 24.6734L11.1577 24.6734L11.5441 25.1646ZM11.0928 27.9244L11.6859 27.7272L11.6859 27.7272L11.0928 27.9244ZM10.398 28.9094L10.2621 29.5194L10.2621 29.5194L10.398 28.9094ZM28.25 27.25V27.875H28.875V27.25H28.25ZM19.8519 20.1098L19.4858 19.6033L19.4858 19.6033L19.8519 20.1098ZM25.25 10.6249C26.5617 10.6249 27.625 11.6883 27.625 12.9999H28.875C28.875 10.9979 27.252 9.37495 25.25 9.37495V10.6249ZM24 10.625L25.25 10.6249L25.25 9.37495L24 9.37501L24 10.625ZM24.625 12V10H23.375V12H24.625ZM16.1243 22.4125C16.8637 22.2624 17.5753 22.0355 18.2502 21.7406L17.7498 20.5952C17.1547 20.8552 16.5275 21.0551 15.8757 21.1875L16.1243 22.4125ZM16.625 25.75V21.8H15.375V25.75H16.625ZM18 26.625C17.5051 26.625 17.1453 26.5335 16.9281 26.3913C16.7515 26.2757 16.625 26.1023 16.625 25.75H15.375C15.375 26.5022 15.6962 27.0789 16.2435 27.4371C16.7501 27.7688 17.3904 27.875 18 27.875V26.625ZM17 8.625H22V7.375H17V8.625ZM8.625 23.4286V17H7.375V23.4286H8.625ZM14 21.375C13.3601 21.375 12.7931 21.2622 12.3849 21.1481C12.1818 21.0913 12.0207 21.035 11.9128 20.9939C11.8589 20.9735 11.8185 20.9569 11.793 20.9461C11.7803 20.9407 11.7713 20.9367 11.7663 20.9345C11.7637 20.9333 11.7622 20.9326 11.7616 20.9324C11.7613 20.9323 11.7613 20.9323 11.7616 20.9324C11.7617 20.9324 11.7619 20.9325 11.7621 20.9326C11.7622 20.9327 11.7624 20.9327 11.7625 20.9328C11.7626 20.9328 11.7627 20.9329 11.7628 20.9329C11.7629 20.933 11.763 20.933 11.5 21.5C11.237 22.067 11.2371 22.067 11.2373 22.0671C11.2373 22.0671 11.2375 22.0672 11.2376 22.0672C11.2378 22.0673 11.238 22.0675 11.2383 22.0676C11.2388 22.0678 11.2394 22.0681 11.24 22.0684C11.2413 22.0689 11.2428 22.0697 11.2447 22.0705C11.2483 22.0721 11.2529 22.0742 11.2587 22.0768C11.2701 22.0818 11.2856 22.0886 11.3051 22.0969C11.3442 22.1134 11.3991 22.1359 11.4685 22.1623C11.6071 22.215 11.8043 22.2837 12.0484 22.3519C12.5347 22.4878 13.2177 22.625 14 22.625V21.375ZM11.1577 24.6734C10.555 25.1475 10.3055 25.7858 10.2533 26.4098C10.2025 27.0167 10.3345 27.6247 10.4997 28.1216L11.6859 27.7272C11.5485 27.314 11.4677 26.8871 11.4989 26.5141C11.5287 26.1582 11.6562 25.8717 11.9306 25.6558L11.1577 24.6734ZM7.375 23.4286C7.375 25.5528 7.67847 26.9792 8.20193 27.9301C8.74743 28.9211 9.50732 29.3513 10.2621 29.5194L10.5339 28.2993C10.0899 28.2004 9.65079 27.9701 9.29698 27.3273C8.92114 26.6446 8.625 25.4641 8.625 23.4286H7.375ZM17 7.375C11.6843 7.375 7.375 11.6843 7.375 17H8.625C8.625 12.3746 12.3746 8.625 17 8.625V7.375ZM15.8757 21.1875C15.2701 21.3104 14.6429 21.375 14 21.375V22.625C14.7269 22.625 15.4374 22.5519 16.1243 22.4125L15.8757 21.1875ZM10.4997 28.1216C10.5088 28.1488 10.5123 28.1825 10.5073 28.2189C10.5021 28.2561 10.4894 28.2856 10.4777 28.3034C10.466 28.3212 10.4631 28.3163 10.4804 28.3082C10.4894 28.304 10.5008 28.3005 10.5131 28.2991C10.519 28.2985 10.524 28.2984 10.5279 28.2986C10.5298 28.2988 10.5313 28.2989 10.5324 28.2991C10.5334 28.2992 10.5339 28.2993 10.5339 28.2993L10.2621 29.5194C10.8238 29.6445 11.2807 29.3574 11.5222 28.9901C11.7538 28.6379 11.8313 28.1647 11.6859 27.7272L10.4997 28.1216ZM27.625 12.9999V27.25H28.875V12.9999H27.625ZM28.25 26.625H18V27.875H28.25V26.625ZM19.4858 19.6033C18.9471 19.9927 18.3656 20.3261 17.7498 20.5952L18.2502 21.7406C18.9487 21.4355 19.6078 21.0575 20.218 20.6164L19.4858 19.6033ZM18.2517 21.74C18.9432 21.4357 19.6034 21.0607 20.218 20.6164L19.4858 19.6033C18.9448 19.9943 18.3617 20.3259 17.7483 20.5959L18.2517 21.74ZM20.218 20.6164C22.8866 18.6874 24.625 15.5467 24.625 12H23.375C23.375 15.1286 21.8432 17.8993 19.4858 19.6033L20.218 20.6164ZM13.375 22C13.375 22.4863 13.1503 22.9131 12.7334 23.3565C12.3006 23.8167 11.7482 24.2088 11.1577 24.6734L11.9306 25.6558C12.451 25.2464 13.1266 24.763 13.644 24.2128C14.1772 23.6458 14.625 22.9272 14.625 22H13.375ZM22 8.625C22.7594 8.625 23.375 9.24062 23.375 10H24.625C24.625 8.55027 23.4498 7.375 22 7.375V8.625Z"
				fill="#5289cd"></path><path
				d="M12.5 17.5h.1"
				stroke="#5289cd"
				stroke-linecap="round"
				stroke-width="2"></path><path
				d="M28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255V26.985V32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445V26.985V21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9Z"
				fill="#0f172a"></path><path
				d="M35.303 21.3255C35.303 22.6651 32.0452 23.751 28.0265 23.751C24.0078 23.751 20.75 22.6651 20.75 21.3255M35.303 21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255M35.303 21.3255V32.6445M35.303 21.3255V26.985M20.75 21.3255V32.6445M20.75 21.3255V26.985M35.303 26.985C35.303 28.3271 32.069 29.4105 28.0265 29.4105C23.984 29.4105 20.75 28.3271 20.75 26.985M35.303 26.985V32.6445M20.75 26.985V32.6445M20.75 32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445"
				stroke="#5289cd"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="1.25"></path></svg
		>

		<svg width="36" height="36" fill="none" slot="right-icon"
			><path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 6.207A6.207 6.207 0 0 1 6.207 0h23.586A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36H6.207A6.207 6.207 0 0 1 0 29.793V6.207Zm6.207-1.241c-.686 0-1.241.555-1.241 1.24v23.587c0 .686.555 1.242 1.24 1.242h10.925c.343 0 .434-.278.434-.621V16.18c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V6.207c0-.686.064-1.241-.621-1.241H6.207Z"
				fill="#12FFF7"></path><path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 6.207A6.207 6.207 0 0 1 6.207 0h23.586A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36H6.207A6.207 6.207 0 0 1 0 29.793V6.207Zm6.207-1.241c-.686 0-1.241.555-1.241 1.24v23.587c0 .686.555 1.242 1.24 1.242h10.925c.343 0 .434-.278.434-.621V16.18c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V6.207c0-.686.064-1.241-.621-1.241H6.207Z"
				fill="url(#a)"></path><path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 6.207A6.207 6.207 0 0 1 6.207 0h23.586A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36H6.207A6.207 6.207 0 0 1 0 29.793V6.207Zm6.207-1.241c-.686 0-1.241.555-1.241 1.24v23.587c0 .686.555 1.242 1.24 1.242h10.925c.343 0 .434-.278.434-.621V16.18c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V6.207c0-.686.064-1.241-.621-1.241H6.207Z"
				fill="url(#b)"></path><path
				d="M29.793 0A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36a.62.62 0 0 0 .62-.62v-19.2c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V1.241C31.035.556 30.479 0 29.793 0Z"
				fill="#B9FFB3"></path><defs
				><linearGradient
					id="a"
					x1="36"
					y1="36"
					x2="4.345"
					y2="0"
					gradientUnits="userSpaceOnUse"
					><stop stop-color="#B9FFB3"></stop><stop
						offset="1"
						stop-color="#B9FFB3"
						stop-opacity="0"></stop></linearGradient
				><linearGradient
					id="b"
					x1="36"
					y1="36"
					x2="14.617"
					y2="27.683"
					gradientUnits="userSpaceOnUse"
					><stop stop-color="#1A1A1A" stop-opacity=".9"></stop><stop
						offset="1"
						stop-color="#1A1A1A"
						stop-opacity="0"></stop></linearGradient
				></defs
			></svg
		>
	</Section>
	<Section
		left="Vercel Blob"
		right="Cloudflare R2"
		leftHref="https://vercel.com/docs/storage/vercel-blob/usage-and-pricing"
		rightHref="https://developers.cloudflare.com/r2/pricing/"
		comparisons={blob}
	>
		<svg slot="left-icon" fill="none" height="36" viewBox="0 0 36 36" width="36"
			><path
				d="M32.5 19V18V8.5C32.5 5.73858 30.2614 3.5 27.5 3.5H8.5C5.73858 3.5 3.5 5.73858 3.5 8.5V27.5C3.5 30.2614 5.73858 32.5 8.5 32.5H20.5"
				fill="rgba(212,89,0,.5)"
				stroke="#eb904d"
				stroke-linecap="round"
				stroke-width="1.25"></path><path
				d="M20.7235 25.9626V21.3405C20.7235 20.1386 23.346 19.1409 26.7877 18.9485C25.896 14.5128 22.3002 10 18 10C13.0294 10 9 16.0294 9 21C9 25.9706 13.0294 26 18 26C18.9493 26 19.8643 25.9989 20.7235 25.9626Z"
				fill="#eb904d"
				fill-opacity="0.15"
				stroke="#eb904d"
				stroke-width="1.25"></path><path
				d="M28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255V26.985V32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445V26.985V21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9Z"
				fill="#0f172a"></path><path
				d="M35.303 21.3255C35.303 22.6651 32.0452 23.751 28.0265 23.751C24.0078 23.751 20.75 22.6651 20.75 21.3255M35.303 21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255M35.303 21.3255V32.6445M35.303 21.3255V26.985M20.75 21.3255V32.6445M20.75 21.3255V26.985M35.303 26.985C35.303 28.3271 32.069 29.4105 28.0265 29.4105C23.984 29.4105 20.75 28.3271 20.75 26.985M35.303 26.985V32.6445M20.75 26.985V32.6445M20.75 32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445"
				stroke="#eb904d"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="1.25"></path></svg
		>
		<svg slot="right-icon" width="36" height="36" viewBox="0 0 40 40"
			><path
				fill="rgb(243, 128, 32)"
				fill-rule="evenodd"
				d="M30.289 6.423c-2.43-.813-5.958-1.362-9.977-1.362-4.018.0-7.545.549-9.976 1.362-1.228.41-2.033.842-2.48 1.195-.094.074-.16.134-.204.18.052.171.196.395.562.67.524.394 1.372.783 2.563 1.119 2.368.666 5.731 1.023 9.536 1.023 3.804.0 7.167-.357 9.535-1.023 1.191-.336 2.04-.725 2.563-1.119.366-.275.51-.499.562-.67a2.211 2.211.0 00-.204-.18c-.447-.353-1.252-.784-2.48-1.195zm-20.24 5.624c-.885-.25-1.71-.552-2.424-.922v4.393c0 .196.097.514.625.941.535.433 1.391.869 2.576 1.252 2.36.764 5.71 1.222 9.486 1.222 3.778.0 7.128-.458 9.487-1.222 1.185-.383 2.041-.82 2.576-1.252.528-.427.625-.745.625-.94v-4.394c-.715.37-1.539.673-2.424.922-2.7.76-6.336 1.124-10.264 1.124-3.927.0-7.564-.364-10.263-1.124zm25.576 3.471V7.622c0-2.829-6.856-5.122-15.313-5.122C11.857 2.5 5 4.793 5 7.622v24.756c0 2.829 6.856 5.122 15.313 5.122 8.456.0 15.312-2.293 15.312-5.122v-16.86zM33 19.134c-.7.393-1.505.726-2.375 1.008-2.708.877-6.358 1.352-10.313 1.352-3.954.0-7.604-.475-10.312-1.352-.87-.282-1.676-.615-2.375-1.008v4.28c0 .196.097.514.625.942.535.432 1.391.868 2.576 1.252 2.36.763 5.71 1.221 9.486 1.221 3.778.0 7.128-.458 9.487-1.221 1.185-.384 2.041-.82 2.576-1.252.528-.428.625-.746.625-.941v-4.28zm-23 8.904c-.87-.281-1.676-.615-2.375-1.007v5.143c.044.048.116.117.231.208.447.353 1.252.785 2.48 1.195 2.43.813 5.958 1.362 9.976 1.362 4.019.0 7.546-.549 9.977-1.362 1.228-.41 2.033-.842 2.48-1.195a2.03 2.03.0 00.231-.208v-5.143c-.7.392-1.505.726-2.375 1.007-2.708.877-6.358 1.352-10.313 1.352-3.954.0-7.604-.475-10.312-1.352zm23.06 4.06-.01.016a.059.059.0 01.01-.016zm-25.495.0.01.016a.06.06.0 01-.01-.016zm3.997-15.726c.725.0 1.313-.573 1.313-1.28.0-.708-.588-1.281-1.313-1.281-.724.0-1.312.573-1.312 1.28.0.708.588 1.281 1.313 1.281zm1.313 6.83c0 .706-.588 1.28-1.313 1.28-.724.0-1.312-.574-1.312-1.28.0-.708.588-1.281 1.313-1.281.724.0 1.312.573 1.312 1.28zm-1.313 9.176c.725.0 1.313-.573 1.313-1.28.0-.708-.588-1.28-1.313-1.28-.724.0-1.312.572-1.312 1.28.0.707.588 1.28 1.313 1.28z"
				clip-rule="evenodd"></path></svg
		>
	</Section>
	<!-- <Section
		left="Vercel Edge Config"
		right="Cloudflare KV"
		leftHref="https://vercel.com/docs/storage/edge-config/edge-config-limits"
		rightHref="https://developers.cloudflare.com/workers/platform/pricing#workers-kv"
		comparisons={edgeConfig}
	>
		<svg slot="left-icon" fill="none" height="36" viewBox="0 0 36 36" width="36"
			><path
				d="M32.5 19V18V8.5C32.5 5.73858 30.2614 3.5 27.5 3.5H8.5C5.73858 3.5 3.5 5.73858 3.5 8.5V27.5C3.5 30.2614 5.73858 32.5 8.5 32.5H20.5"
				fill="rgba(138,66,172,.5)"
				stroke="#b07aca"
				stroke-linecap="round"
				stroke-width="1.25"></path><path
				d="M8.20599 17.821V16.9687C8.84615 16.9687 9.29311 16.8381 9.5469 16.5767C9.80069 16.3115 9.92758 15.874 9.92758 15.2642V13.6335C9.92758 13.054 9.99198 12.5672 10.1208 12.1733C10.2533 11.7756 10.4541 11.4574 10.723 11.2187C10.992 10.9801 11.3329 10.8078 11.7458 10.7017C12.1586 10.5956 12.6454 10.5426 13.206 10.5426V11.8892C12.7666 11.8892 12.4238 11.9536 12.1776 12.0824C11.9314 12.2112 11.759 12.4119 11.6605 12.6846C11.5658 12.9536 11.5185 13.2983 11.5185 13.7187V15.7869C11.5185 16.0786 11.4749 16.3494 11.3878 16.5994C11.3007 16.8456 11.1397 17.0596 10.9049 17.2415C10.67 17.4233 10.3348 17.5653 9.89918 17.6676C9.46357 17.7699 8.89918 17.821 8.20599 17.821ZM13.206 25.0369C12.6454 25.0369 12.1586 24.9839 11.7458 24.8778C11.3329 24.7718 10.992 24.5994 10.723 24.3608C10.4541 24.1221 10.2533 23.804 10.1208 23.4062C9.99198 23.0123 9.92758 22.5256 9.92758 21.946V20.3096C9.92758 19.7036 9.80069 19.268 9.5469 19.0028C9.29311 18.7377 8.84615 18.6051 8.20599 18.6051V17.7585C8.89918 17.7585 9.46357 17.8096 9.89918 17.9119C10.3348 18.0104 10.67 18.1525 10.9049 18.3381C11.1397 18.5199 11.3007 18.7358 11.3878 18.9858C11.4749 19.232 11.5185 19.5009 11.5185 19.7926V21.8608C11.5185 22.2775 11.5658 22.6203 11.6605 22.8892C11.759 23.1619 11.9314 23.3627 12.1776 23.4915C12.4238 23.624 12.7666 23.6903 13.206 23.6903V25.0369ZM8.20599 18.6051V16.9687H9.77986V18.6051H8.20599Z"
				fill="#b07aca"></path><path
				d="M19.0483 21.0256L18.9631 21.6449C18.9063 22.0994 18.8097 22.5729 18.6733 23.0653C18.5407 23.5615 18.4025 24.0218 18.2586 24.446C18.1184 24.8703 18.0029 25.2074 17.912 25.4574H16.7074C16.7567 25.2225 16.8248 24.9043 16.912 24.5028C16.9991 24.1051 17.0843 23.66 17.1676 23.1676C17.251 22.6752 17.3135 22.1733 17.3551 21.6619L17.412 21.0256H19.0483ZM18.162 16.3721C17.8514 16.3721 17.5843 16.2604 17.3608 16.0369C17.1373 15.8134 17.0256 15.5464 17.0256 15.2358C17.0256 14.9252 17.1373 14.66 17.3608 14.4403C17.5843 14.2168 17.8514 14.1051 18.162 14.1051C18.4726 14.1051 18.7396 14.2168 18.9631 14.4403C19.1866 14.66 19.2983 14.9252 19.2983 15.2358C19.2983 15.4441 19.2453 15.6354 19.1392 15.8096C19.037 15.9801 18.9006 16.1165 18.7301 16.2187C18.5597 16.321 18.3703 16.3721 18.162 16.3721Z"
				fill="#b07aca"></path><path
				d="M22.7941 10.5426C23.3547 10.5426 23.8414 10.5956 24.2543 10.7017C24.6672 10.8078 25.0081 10.9801 25.277 11.2187C25.546 11.4574 25.7448 11.7756 25.8736 12.1733C26.0062 12.5672 26.0725 13.054 26.0725 13.6335V15.2642C26.0725 15.874 26.1994 16.3115 26.4532 16.5767C26.7069 16.8381 27.1539 16.9687 27.7941 16.9687V17.821C27.1009 17.821 26.5365 17.7699 26.1009 17.6676C25.6653 17.5653 25.33 17.4233 25.0952 17.2415C24.8603 17.0596 24.6994 16.8456 24.6122 16.5994C24.5251 16.3494 24.4816 16.0786 24.4816 15.7869V13.7187C24.4816 13.2983 24.4323 12.9536 24.3338 12.6846C24.2391 12.4119 24.0687 12.2112 23.8225 12.0824C23.5763 11.9536 23.2335 11.8892 22.7941 11.8892V10.5426ZM27.7941 16.9687V18.6051H26.2202V17.8858V16.9687H27.7941Z"
				fill="#b07aca"></path><path
				d="M26.4532 19.0028C26.7069 18.7377 27.1539 18.6051 27.7941 18.6051H26.2202V17.8858C26.1794 17.8941 26.1396 17.9028 26.1009 17.9119C25.6653 18.0104 25.33 18.1525 25.0952 18.3381C24.8603 18.5199 24.6994 18.7358 24.6122 18.9858L26.4532 19.0028Z"
				fill="#b07aca"></path><path
				d="M28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255V26.985V32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445V26.985V21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9Z"
				fill="#0f172a"></path><path
				d="M35.303 21.3255C35.303 22.6651 32.0452 23.751 28.0265 23.751C24.0078 23.751 20.75 22.6651 20.75 21.3255M35.303 21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255M35.303 21.3255V32.6445M35.303 21.3255V26.985M20.75 21.3255V32.6445M20.75 21.3255V26.985M35.303 26.985C35.303 28.3271 32.069 29.4105 28.0265 29.4105C23.984 29.4105 20.75 28.3271 20.75 26.985M35.303 26.985V32.6445M20.75 26.985V32.6445M20.75 32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445"
				stroke="#b07aca"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="1.25"></path></svg
		>
		<svg
			fill="rgb(243, 128, 32)"
			width="36"
			slot="right-icon"
			viewBox="0 0 48 49"
			><path
				d="m18.63 37.418-9.645-12.9 9.592-12.533-1.852-2.527L5.917 23.595l-.015 1.808 10.86 14.542 1.868-2.527z"
			></path><path
				d="M21.997 6.503h-3.712l13.387 18.3-13.072 17.7h3.735L35.4 24.81 21.997 6.503z"
			></path><path
				d="M29.175 6.503h-3.758l13.598 18.082-13.598 17.918h3.765l12.908-17.01v-1.808L29.175 6.503z"
			></path></svg
		>
	</Section> -->
</Layout>
