---
import Section, { Comparison } from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

const kv: Comparison[] = [
  {
    name: "Databases",
    good: "right",
    left: 1,
    right: 0,
    unit: "$",
    per: 1,
    perUnit: "database",
  },
  {
    name: "Free Requests",
    good: "right",
    left: 30000,
    right: 300000,
    rightInfo: "10,000 limit per day on free plan, 30 days per month",
  },
  {
    name: "Paid Requests",
    good: "right",
    left: 0.35,
    right: 0.2,
    unit: "$",
    per: 100000,
    leftInfo: "+$0.35 per additional replica",
    rightInfo: "$0.40 for full global replication",
  },
  {
    name: "Free Storage",
    good: "equal",
    left: 0.25,
    right: 0.25,
    unit: "GB",
  },
  {
    name: "Paid Storage",
    good: "equal",
    left: 0.25,
    right: 0.25,
    unit: "$",
    per: 1,
    perUnit: "GB",
    rightInfo: "0.25 GB",
  }
];

const postgres: Comparison[] = [
  {
    name: "Free Compute Time",
    good: "right",
    left: 60,
    right: 192,
    unit: "hours",
    per: 1,
    perUnit: "month",
  },
  {
	name: "Paid Compute Time",
	good: "left",
	left: 0.1,
	right: 0.102,
	unit: "$",
	per: 1,
	perUnit: "hour",
  },
  {
    name: "Free Storage",
    good: "right",
    left: 0.25,
    right: 0.5,
    unit: "GB",
  },
  {
    name: "Paid Storage",
    good: "equal",
    left: 0.12,
    right: 0.12,
    unit: "$",
    per: 1,
    perUnit: "GB/month",
  },
  {
    name: "Written data",
    good: "equal",
    left: 0.096,
    right: 0.096,
    unit: "$",
    per: 1,
    perUnit: "GB",
  },
  {
    name: "Data transfer",
    good: "right",
    left: 0.1,
    right: 0.096,
    unit: "$",
    per: 1,
    perUnit: "GB",
  }
];

---

<Layout title="Vercel Storage Markup">
	<h1 class="text-5xl text-center my-2">Vercel Storage Markup</h1>
	<p class="text-purple-400 gap-2 flex justify-center items-center">
		made by <span class="font-bold">Ottomated</span> in 3 hours
		<a href="https://twitter.com/Ottomated_" target="_blank">
			<svg width="24" fill="currentColor" viewBox="0 0 24 24"
				><path
					d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"
				></path></svg
			></a
		>
		<a href="https://twitch.tv/ottomated" target="_blank">
			<svg viewBox="0 0 24 24" width="24" fill="currentColor"
				><path
					d="M11.64 5.93H13.07V10.21H11.64M15.57 5.93H17V10.21H15.57M7 2L3.43 5.57V18.43H7.71V22L11.29 18.43H14.14L20.57 12V2M19.14 11.29L16.29 14.14H13.43L10.93 16.64V14.14H7.71V3.43H19.14Z"
				></path></svg
			>
		</a>
	</p>
	<p class="max-w-2xl mx-auto text-slate-200 text-lg my-4">
		Vercel offers two storage products which are built on top of other services. These services (KV and Postgres) have different limits and prices versus using the service (Upstash and Neon) directly.
	</p>

	<Section
		left="Vercel KV"
		leftHref="https://vercel.com/docs/storage/vercel-kv/usage-and-pricing"
		rightHref="https://docs.upstash.com/redis/overall/pricing"
		right="Upstash"
		comparisons={kv}
	>
		<svg slot="left-icon" fill="none" height="36" viewBox="0 0 36 36" width="36"
			><path
				d="M32.5 19V18V8.5C32.5 5.73858 30.2614 3.5 27.5 3.5H8.5C5.73858 3.5 3.5 5.73858 3.5 8.5V27.5C3.5 30.2614 5.73858 32.5 8.5 32.5H20.5"
				fill="rgba(169,20,20,.5)"
				stroke="#e85b5b"
				stroke-linecap="round"
				stroke-width="1.25"></path><rect
				fill="#e85b5b"
				fill-opacity="0.15"
				height="7.55235"
				rx="0.5"
				stroke="#e85b5b"
				stroke-width="1.15"
				transform="rotate(13.8524 20.67 7.67203)"
				width="7.55235"
				x="20.67"
				y="7.67203"></rect><path
				d="M9.98777 11.9827C10.0546 11.6036 10.5067 11.439 10.8016 11.6865L17.4357 17.2532C17.7306 17.5006 17.647 17.9744 17.2853 18.106L9.14735 21.068C8.78566 21.1997 8.4171 20.8904 8.48394 20.5113L9.98777 11.9827Z"
				fill="#e85b5b"
				fill-opacity="0.1"
				stroke="#e85b5b"
				stroke-width="1.15"></path><path
				clip-rule="evenodd"
				d="M21.6581 20.1504C21.0631 20.502 20.7235 20.908 20.7235 21.3405V28.9945C20.6495 28.9982 20.5749 29 20.5 29C18.0147 29 16 26.9853 16 24.5C16 22.0147 18.0147 20 20.5 20C20.9004 20 21.2886 20.0523 21.6581 20.1504Z"
				fill="#e85b5b"
				fill-opacity="0.1"
				fill-rule="evenodd"
				stroke="#e85b5b"
				stroke-width="1.15"></path><path
				d="M28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255V26.985V32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445V26.985V21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9Z"
				fill="#0f172a"></path><path
				d="M35.303 21.3255C35.303 22.6651 32.0452 23.751 28.0265 23.751C24.0078 23.751 20.75 22.6651 20.75 21.3255M35.303 21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255M35.303 21.3255V32.6445M35.303 21.3255V26.985M20.75 21.3255V32.6445M20.75 21.3255V26.985M35.303 26.985C35.303 28.3271 32.069 29.4105 28.0265 29.4105C23.984 29.4105 20.75 28.3271 20.75 26.985M35.303 26.985V32.6445M20.75 26.985V32.6445M20.75 32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445"
				stroke="#e85b5b"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="1.25"></path></svg
		>
		<svg
			viewBox="0 0 354 472"
			width="27"
			height="36"
			fill="none"
			slot="right-icon"
		>
			<path
				d="M0.421875 412.975C78.5269 491.079 205.16 491.079 283.265 412.975C361.369 334.87 361.369 208.237 283.265 130.132L247.909 165.487C306.488 224.066 306.488 319.041 247.909 377.619C189.331 436.198 94.3559 436.198 35.7769 377.619L0.421875 412.975Z"
				fill="#00E9A3"></path>
			<path
				d="M71.1328 342.264C110.185 381.316 173.501 381.316 212.554 342.264C251.606 303.212 251.606 239.895 212.554 200.843L177.199 236.198C196.725 255.724 196.725 287.382 177.199 306.909C157.672 326.435 126.014 326.435 106.488 306.909L71.1328 342.264Z"
				fill="#00E9A3"></path>
			<path
				d="M353.974 59.421C275.869 -18.6835 149.236 -18.6835 71.1315 59.421C-6.97352 137.526 -6.97352 264.159 71.1315 342.264L106.486 306.909C47.9085 248.33 47.9085 153.355 106.486 94.777C165.065 36.198 260.04 36.198 318.618 94.777L353.974 59.421Z"
				fill="#00E9A3"></path>
			<path
				d="M283.264 130.132C244.212 91.08 180.894 91.08 141.842 130.132C102.789 169.185 102.789 232.501 141.842 271.553L177.197 236.198C157.671 216.672 157.671 185.014 177.197 165.487C196.723 145.961 228.381 145.961 247.908 165.487L283.264 130.132Z"
				fill="#00E9A3"></path>
		</svg>
	</Section>
	<Section
		left="Vercel Postgres"
		right="Neon"
		leftHref="https://vercel.com/docs/storage/vercel-postgres/usage-and-pricing"
		rightHref="https://neon.tech/docs/introduction/billing"
		comparisons={postgres}
	>
		<svg
			slot="left-icon"
			fill="none"
			height="36"
			viewBox="0 0 36 36"
			width="36"
			xmlns="http://www.w3.org/2000/svg"
			><path
				d="M32.5 19V18V8.5C32.5 5.73858 30.2614 3.5 27.5 3.5H8.5C5.73858 3.5 3.5 5.73858 3.5 8.5V27.5C3.5 30.2614 5.73858 32.5 8.5 32.5H20.5"
				fill="rgba(17,82,163,.5)"
				stroke="#5289cd"
				stroke-linecap="round"
				stroke-width="1.25"></path><path
				d="M28 13v13a1 1 0 0 1-1 1h-9c-1.105 0-2-.395-2-1.5v-3.7a9.927 9.927 0 0 0 2-.632l.013-.006a10.038 10.038 0 0 0 5.079-4.992A9.963 9.963 0 0 0 24 12v-2h1a3 3 0 0 1 3 3Z"
				fill="#5289cd"
				fill-opacity="0.15"></path><path
				d="M25.25 9.99995L25.25 9.37495L25.25 9.37495L25.25 9.99995ZM18 21.1679L18.2502 21.7406L18.2502 21.7406L18 21.1679ZM11.763 20.933C11.4499 20.7878 11.0783 20.9239 10.933 21.237C10.7878 21.5501 10.9239 21.9217 11.237 22.067L11.763 20.933ZM11.5441 25.1646L11.1577 24.6734L11.1577 24.6734L11.5441 25.1646ZM11.0928 27.9244L11.6859 27.7272L11.6859 27.7272L11.0928 27.9244ZM10.398 28.9094L10.2621 29.5194L10.2621 29.5194L10.398 28.9094ZM28.25 27.25V27.875H28.875V27.25H28.25ZM19.8519 20.1098L19.4858 19.6033L19.4858 19.6033L19.8519 20.1098ZM25.25 10.6249C26.5617 10.6249 27.625 11.6883 27.625 12.9999H28.875C28.875 10.9979 27.252 9.37495 25.25 9.37495V10.6249ZM24 10.625L25.25 10.6249L25.25 9.37495L24 9.37501L24 10.625ZM24.625 12V10H23.375V12H24.625ZM16.1243 22.4125C16.8637 22.2624 17.5753 22.0355 18.2502 21.7406L17.7498 20.5952C17.1547 20.8552 16.5275 21.0551 15.8757 21.1875L16.1243 22.4125ZM16.625 25.75V21.8H15.375V25.75H16.625ZM18 26.625C17.5051 26.625 17.1453 26.5335 16.9281 26.3913C16.7515 26.2757 16.625 26.1023 16.625 25.75H15.375C15.375 26.5022 15.6962 27.0789 16.2435 27.4371C16.7501 27.7688 17.3904 27.875 18 27.875V26.625ZM17 8.625H22V7.375H17V8.625ZM8.625 23.4286V17H7.375V23.4286H8.625ZM14 21.375C13.3601 21.375 12.7931 21.2622 12.3849 21.1481C12.1818 21.0913 12.0207 21.035 11.9128 20.9939C11.8589 20.9735 11.8185 20.9569 11.793 20.9461C11.7803 20.9407 11.7713 20.9367 11.7663 20.9345C11.7637 20.9333 11.7622 20.9326 11.7616 20.9324C11.7613 20.9323 11.7613 20.9323 11.7616 20.9324C11.7617 20.9324 11.7619 20.9325 11.7621 20.9326C11.7622 20.9327 11.7624 20.9327 11.7625 20.9328C11.7626 20.9328 11.7627 20.9329 11.7628 20.9329C11.7629 20.933 11.763 20.933 11.5 21.5C11.237 22.067 11.2371 22.067 11.2373 22.0671C11.2373 22.0671 11.2375 22.0672 11.2376 22.0672C11.2378 22.0673 11.238 22.0675 11.2383 22.0676C11.2388 22.0678 11.2394 22.0681 11.24 22.0684C11.2413 22.0689 11.2428 22.0697 11.2447 22.0705C11.2483 22.0721 11.2529 22.0742 11.2587 22.0768C11.2701 22.0818 11.2856 22.0886 11.3051 22.0969C11.3442 22.1134 11.3991 22.1359 11.4685 22.1623C11.6071 22.215 11.8043 22.2837 12.0484 22.3519C12.5347 22.4878 13.2177 22.625 14 22.625V21.375ZM11.1577 24.6734C10.555 25.1475 10.3055 25.7858 10.2533 26.4098C10.2025 27.0167 10.3345 27.6247 10.4997 28.1216L11.6859 27.7272C11.5485 27.314 11.4677 26.8871 11.4989 26.5141C11.5287 26.1582 11.6562 25.8717 11.9306 25.6558L11.1577 24.6734ZM7.375 23.4286C7.375 25.5528 7.67847 26.9792 8.20193 27.9301C8.74743 28.9211 9.50732 29.3513 10.2621 29.5194L10.5339 28.2993C10.0899 28.2004 9.65079 27.9701 9.29698 27.3273C8.92114 26.6446 8.625 25.4641 8.625 23.4286H7.375ZM17 7.375C11.6843 7.375 7.375 11.6843 7.375 17H8.625C8.625 12.3746 12.3746 8.625 17 8.625V7.375ZM15.8757 21.1875C15.2701 21.3104 14.6429 21.375 14 21.375V22.625C14.7269 22.625 15.4374 22.5519 16.1243 22.4125L15.8757 21.1875ZM10.4997 28.1216C10.5088 28.1488 10.5123 28.1825 10.5073 28.2189C10.5021 28.2561 10.4894 28.2856 10.4777 28.3034C10.466 28.3212 10.4631 28.3163 10.4804 28.3082C10.4894 28.304 10.5008 28.3005 10.5131 28.2991C10.519 28.2985 10.524 28.2984 10.5279 28.2986C10.5298 28.2988 10.5313 28.2989 10.5324 28.2991C10.5334 28.2992 10.5339 28.2993 10.5339 28.2993L10.2621 29.5194C10.8238 29.6445 11.2807 29.3574 11.5222 28.9901C11.7538 28.6379 11.8313 28.1647 11.6859 27.7272L10.4997 28.1216ZM27.625 12.9999V27.25H28.875V12.9999H27.625ZM28.25 26.625H18V27.875H28.25V26.625ZM19.4858 19.6033C18.9471 19.9927 18.3656 20.3261 17.7498 20.5952L18.2502 21.7406C18.9487 21.4355 19.6078 21.0575 20.218 20.6164L19.4858 19.6033ZM18.2517 21.74C18.9432 21.4357 19.6034 21.0607 20.218 20.6164L19.4858 19.6033C18.9448 19.9943 18.3617 20.3259 17.7483 20.5959L18.2517 21.74ZM20.218 20.6164C22.8866 18.6874 24.625 15.5467 24.625 12H23.375C23.375 15.1286 21.8432 17.8993 19.4858 19.6033L20.218 20.6164ZM13.375 22C13.375 22.4863 13.1503 22.9131 12.7334 23.3565C12.3006 23.8167 11.7482 24.2088 11.1577 24.6734L11.9306 25.6558C12.451 25.2464 13.1266 24.763 13.644 24.2128C14.1772 23.6458 14.625 22.9272 14.625 22H13.375ZM22 8.625C22.7594 8.625 23.375 9.24062 23.375 10H24.625C24.625 8.55027 23.4498 7.375 22 7.375V8.625Z"
				fill="#5289cd"></path><path
				d="M12.5 17.5h.1"
				stroke="#5289cd"
				stroke-linecap="round"
				stroke-width="2"></path><path
				d="M28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255V26.985V32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445V26.985V21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9Z"
				fill="#0f172a"></path><path
				d="M35.303 21.3255C35.303 22.6651 32.0452 23.751 28.0265 23.751C24.0078 23.751 20.75 22.6651 20.75 21.3255M35.303 21.3255C35.303 19.9859 32.0452 18.9 28.0265 18.9C24.0078 18.9 20.75 19.9859 20.75 21.3255M35.303 21.3255V32.6445M35.303 21.3255V26.985M20.75 21.3255V32.6445M20.75 21.3255V26.985M35.303 26.985C35.303 28.3271 32.069 29.4105 28.0265 29.4105C23.984 29.4105 20.75 28.3271 20.75 26.985M35.303 26.985V32.6445M20.75 26.985V32.6445M20.75 32.6445C20.75 33.9866 23.984 35.07 28.0265 35.07C32.069 35.07 35.303 33.9866 35.303 32.6445"
				stroke="#5289cd"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="1.25"></path></svg
		>

		<svg width="36" height="36" fill="none" slot="right-icon"
			><path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 6.207A6.207 6.207 0 0 1 6.207 0h23.586A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36H6.207A6.207 6.207 0 0 1 0 29.793V6.207Zm6.207-1.241c-.686 0-1.241.555-1.241 1.24v23.587c0 .686.555 1.242 1.24 1.242h10.925c.343 0 .434-.278.434-.621V16.18c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V6.207c0-.686.064-1.241-.621-1.241H6.207Z"
				fill="#12FFF7"></path><path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 6.207A6.207 6.207 0 0 1 6.207 0h23.586A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36H6.207A6.207 6.207 0 0 1 0 29.793V6.207Zm6.207-1.241c-.686 0-1.241.555-1.241 1.24v23.587c0 .686.555 1.242 1.24 1.242h10.925c.343 0 .434-.278.434-.621V16.18c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V6.207c0-.686.064-1.241-.621-1.241H6.207Z"
				fill="url(#a)"></path><path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M0 6.207A6.207 6.207 0 0 1 6.207 0h23.586A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36H6.207A6.207 6.207 0 0 1 0 29.793V6.207Zm6.207-1.241c-.686 0-1.241.555-1.241 1.24v23.587c0 .686.555 1.242 1.24 1.242h10.925c.343 0 .434-.278.434-.621V16.18c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V6.207c0-.686.064-1.241-.621-1.241H6.207Z"
				fill="url(#b)"></path><path
				d="M29.793 0A6.207 6.207 0 0 1 36 6.207v20.06c0 3.546-4.488 5.085-6.664 2.286l-6.805-8.754v10.615A5.586 5.586 0 0 1 16.945 36a.62.62 0 0 0 .62-.62v-19.2c0-3.547 4.488-5.086 6.665-2.286l6.805 8.753V1.241C31.035.556 30.479 0 29.793 0Z"
				fill="#B9FFB3"></path><defs
				><linearGradient
					id="a"
					x1="36"
					y1="36"
					x2="4.345"
					y2="0"
					gradientUnits="userSpaceOnUse"
					><stop stop-color="#B9FFB3"></stop><stop
						offset="1"
						stop-color="#B9FFB3"
						stop-opacity="0"></stop></linearGradient
				><linearGradient
					id="b"
					x1="36"
					y1="36"
					x2="14.617"
					y2="27.683"
					gradientUnits="userSpaceOnUse"
					><stop stop-color="#1A1A1A" stop-opacity=".9"></stop><stop
						offset="1"
						stop-color="#1A1A1A"
						stop-opacity="0"></stop></linearGradient
				></defs
			></svg
		>
	</Section>
</Layout>
